<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="pl" description="PL" language="PL" derivedFrom="DynamicRoot" validator="org.spoofax.examples.pl.PLValidator" validatorClass="org.spoofax.examples.pl.PLValidator"></language>
       </extension>
       <extension id="org.spoofax.examples.pl.parser" name="PL Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.spoofax.examples.pl.PLParseController" language="PL">
          </parser>
       </extension>    
    </plugin>