<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="td" description="TypeDefinitionLanguage" language="TypeDefinitionLanguage" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.types.TypeDefinitionLanguageValidator" validatorClass="org.strategoxt.imp.types.TypeDefinitionLanguageValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.types.parser" name="TypeDefinitionLanguage Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.types.TypeDefinitionLanguageParseController" language="TypeDefinitionLanguage">
          </parser>
       </extension>    
    </plugin>